@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-grid.min';
@import 'libs/font';

* {
    font-family: 'Philosopher', sans-serif;
}

html {
    background: url('../img/forest3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-display {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    text-align: center;
    color: hsla(355, 100%, 93%, 1);
    text-transform: uppercase;
    &__header {
        font-size: 100px;
        font-weight: 300;
        text-shadow: 0 0 25px hsla(163, 80%, 70%, 1);
    }
}

@media (max-width: 767px) {
    .main-display {
        &__header {
            font-size: 75px;
        }
    }
}

@media (max-width: 577px) {
    .main-display {
        &__header {
            font-size: 45px;
        }
    }
}
