.testimonialCardsRow {
  display: inline-block;
  width: max-content;
  line-height: 0;
  will-change: transform;
}

.item {
  position: relative;
  display: inline-block;
  height: 100%;
  padding-inline: 12px;
  vertical-align: top;
  line-height: var(--line-body);
}
