.heroBackground {
  position: absolute;
  inset: 0;
  z-index: -10;
  animation: var(--animation-name-hero-bg-fade-in) 500ms 200ms ease-in backwards;
}

.first,
.second,
.third {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 999px;
  mix-blend-mode: multiply;
  filter: blur(75px);
}

.first {
  top: -80px;
  right: -16px;
  background-color: var(--primary-20);
  animation: var(--animation-name-blob) 12s 2s ease-in-out infinite both;
}

.second {
  top: calc(50% - 40px);
  left: 50%;
  background-color: var(--primary-10);
  opacity: 0.7;
  transform: translate(-50%, -50%);
  animation: var(--animation-name-blob-2) 12s ease-in-out infinite both;
}

.third {
  left: -16px;
  bottom: 0;
  background-color: var(--primary-30);
  opacity: 0.7;
  animation: var(--animation-name-blob-3) 12s 1s ease-in-out infinite both;
}

@media (min-width: 577px) {
  .first,
  .second,
  .third {
    width: 400px;
    height: 400px;
    filter: blur(150px);
  }

  .first {
    top: -104px;
    right: -140px;
    animation-duration: 18s;
    animation-delay: 3s;
  }

  .second {
    top: calc(50% - 52px);
    animation-duration: 18s;
  }

  .third {
    left: -140px;
    animation-duration: 18s;
    animation-delay: 2s;
  }
}

@media (min-width: 1061px) {
  .first {
    right: -60px;
  }

  .third {
    left: -60px;
  }
}
