.heroInfiniteLogo {
  display: block;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
  height: var(--l);
  padding-inline: 20px;
}

@media (min-width: 577px) {
  .heroInfiniteLogo {
    height: var(--xl);
    padding-inline: var(--xl);
  }
}

@media (min-width: 1161px) {
  .heroInfiniteLogo {
    height: var(--2xl);
    padding-inline: var(--2xl);
  }
}
