.heroCTA {
  position: relative;
  overflow: hidden;
  --button-bg-hover: var(--primary-10);
  transition:
    transform var(--transition-primary),
    background-color var(--transition-primary),
    color var(--transition-primary),
    border-color var(--transition-primary),
    opacity var(--transition-primary),
    scale var(--interactive-press-transition),
    translate var(--interactive-press-transition);
}

.heroCTA:hover {
  transform: scale(1.05);
}

.shape {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 999px;
  filter: blur(12px);
  transition: background-color var(--transition-slow);
}

.shapeOne {
  background-color: var(--primary-30);
  animation: var(--animation-name-shape-1) 5s ease-in-out infinite both;
}

.shapeTwo {
  background-color: var(--primary-20);
  animation: var(--animation-name-shape-2) 5s ease-in-out infinite both;
}

.shapeThree {
  background-color: var(--primary-40);
  animation: var(--animation-name-shape-3) 5s 1.5s ease-in-out infinite both;
}

.heroCTA:hover .shapeOne {
  background-color: var(--primary-40);
}

.heroCTA:hover .shapeTwo {
  background-color: var(--primary-30);
}

.heroCTA:hover .shapeThree {
  background-color: var(--primary-20);
}

.label,
.icon {
  position: relative;
  z-index: 1;
}

.icon {
  width: var(--m);
  height: var(--m);
}

.heroCTA:hover .icon {
  animation:
    var(--animation-name-cta-rotate) 500ms ease-out backwards,
    var(--animation-name-cta-bounce) 1500ms 500ms linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .heroCTA:hover {
    transform: none;
  }
}

@media (min-width: 1161px) {
  .shape {
    width: 5rem;
    height: 5rem;
    filter: blur(16px);
  }

  .icon {
    width: var(--l);
    height: var(--l);
  }
}

@media (min-width: 1921px) {
  .icon {
    width: var(--l);
    height: var(--l);
  }
}
