:root {
  --neutral-00: #ffffff;
  --neutral-70: #595d62;
  --neutral-90: #111928;
  --primary-10: #3448f0;
  --primary-20: #ffb319;
  --primary-30: #ff4e64;
  --primary-40: #95f1d5;
  --primary-50: #a38de4;
  --secondary-05: #e7e9fd;
  --secondary-25: #ffd47e;
  --secondary-35: #ff9ca8;
  --secondary-45: #c3f7e7;
  --secondary-55: #ebe6f9;
  --text-00: #ffffff;
  --text-20: #3448f0;
  --text-70: #595d62;
  --text-90: #111928;
  --bg-mobile: 200px;
  --bg-tablet: 400px;
  --bg-desktop: 600px;
  --2xs: 4px;
  --xs: 8px;
  --s: 16px;
  --m: 24px;
  --l: 32px;
  --xl: 40px;
  --2xl: 56px;
  --3xl: 80px;
  --card-min-example: 250px;
  --card-max-example: 450px;
  --xs-start: 320px;
  --xs-end: 576px;
  --s-start: 577px;
  --s-end: 768px;
  --m-start: 769px;
  --m-end: 992px;
  --l-start: 993px;
  --l-end: 1200px;
  --xl-start: 1201px;
  --mobile-width: 390px;
  --mobile-heighht: 844px;
  --tablet-width: 834px;
  --tablet-height: 1194px;
  --desktop-width: 1920px;
  --desktop-height: 1024px;
  --container-desctop: 1062px;
  --container-tablet: 560px;
  --container-mobile: 400px;
  --body: 16px;
  --body-large: 20px;
  --heading-s: 24px;
  --heading-m: 32px;
  --heading-l: 40px;
  --heading-xl: 56px;
  --logo-mobile: 33px;
  --logo-tablet: 55px;
  --logo-desktop: 77px;
}
