:root {
  /* --neutral-00: hsla(0, 0%, 100%, 1);
  --neutral-70: hsla(213, 5%, 37%, 1);
  --neutral-90: hsla(219, 40%, 11%, 1);
  --primary-10: hsla(234, 86%, 57%, 1);
  --primary-20: hsla(40, 100%, 55%, 1);
  --primary-30: hsla(353, 100%, 65%, 1);
  --primary-40: hsla(162, 77%, 76%, 1);
  --primary-50: hsla(255, 62%, 72%, 1);
  --secondary-15: hsla(235, 85%, 95%, 1);
  --secondary-25: hsla(40, 100%, 75%, 1);
  --secondary-35: hsla(353, 100%, 81%, 1);
  --secondary-45: hsla(162, 76%, 87%, 1);
  --secondary-55: hsla(256, 61%, 94%, 1);
  --text-00: hsla(0, 0%, 100%, 1);
  --text-20: hsla(234, 86%, 57%, 1);
  --text-70: hsla(213, 5%, 37%, 1);
  --text-90: hsla(219, 40%, 11%, 1); */
  --2xs: 4px;
  --xs: 8px;
  --s: 16px;
  --m: 24px;
  --l: 32px;
  --xl: 40px;
  --2xl: 56px;
  --3xl: 80px;

  --m-start: 577px;
  --l-start: 1060px;
  --l-end: 1600px;

  --mobile-width: 390px;
  --mobile-heighht: 844px;

  --tablet-width: 834px;
  --tablet-height: 1194px;

  --desktop-width: 1920px;
  --desktop-height: 1024px;

  --container-mobile: 432px;
  --container-tablet: 720px;
  --container-desktop: 1160px;

  --mobile-text-wrapper: 400px;
  --tablet-text-wrapper: 560px;
  --desktop-text-wrapper: 720px;

  --card-width: 288px;

  --img-size-mobile: 170px;
  --img-size-tablet: 300px;
}
