.app {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: clip;
  font-size: var(--font-body);
}

.heroAnchor {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  pointer-events: none;
}

@media (min-width: 1161px) {
  .app {
    font-size: var(--font-body-large);
  }
}
