.aboutPhotoCard {
  --about-photo-size: var(--img-size-mobile);
  --about-photo-height: 210px;
  --about-photo-image-bottom: -4px;
  --about-photo-image-left: 10px;

  position: relative;
  width: var(--about-photo-size);
}

.inner {
  position: relative;
  display: flex;
  height: var(--about-photo-height);
  align-items: flex-end;
  overflow: hidden;
  border-radius: var(--s);
  transition: transform var(--transition-primary);
}

.aboutPhotoCard:hover .inner {
  transform: scale(1.1);
}

.color {
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--about-photo-size);
  height: var(--about-photo-size);
  border-radius: var(--s);
  background-color: var(--primary-40);
}

.image {
  position: absolute;
  bottom: var(--about-photo-image-bottom);
  left: var(--about-photo-image-left);
  z-index: 1;
  width: var(--about-photo-size);
  height: auto;
  transform: scale(1.5);
  transition: transform var(--transition-primary);
  transition-delay: 150ms;
}

.aboutPhotoCard:hover .image {
  transform: translateY(-10px) scale(1.5);
}

@media (width >= 577px) {
  .aboutPhotoCard {
    --about-photo-size: var(--img-size-tablet);
    --about-photo-height: 365px;
    --about-photo-image-bottom: -8px;
    --about-photo-image-left: 18px;
  }
}

@media (width >= 1161px) {
  .aboutPhotoCard {
    --about-photo-size: 320px;
    --about-photo-height: 390px;
    --about-photo-image-bottom: -10px;
    --about-photo-image-left: 20px;
  }
}

@media (width >= 1921px) {
  .aboutPhotoCard {
    --about-photo-size: 360px;
    --about-photo-height: 438px;
    --about-photo-image-bottom: -12px;
    --about-photo-image-left: 22px;
  }
}
