.hamburger {
  display: grid;
  place-items: center;
  -webkit-tap-highlight-color: transparent;
}

.icon {
  width: 40px;
  user-select: none;
  transition: transform 400ms;
}

.active {
  transform: rotate(45deg);
}

.line {
  fill: none;
  stroke: var(--primary-10);
  stroke-width: 5.5;
  stroke-linecap: round;
  transition:
    stroke-dasharray 400ms,
    stroke-dashoffset 400ms;
}

.top {
  stroke-dasharray: 39.9 121;
}

.bottom {
  stroke-dasharray: 39.9 121;
}

.active .top {
  stroke-dashoffset: -68;
}

.active .bottom {
  stroke-dashoffset: -68;
}
