.heroInfiniteLogosRow {
  display: inline-block;
  width: max-content;
  line-height: 0;
  animation: slideMarquee 40s linear infinite;
}

@media (min-width: 577px) {
  .heroInfiniteLogosRow {
    animation-duration: 60s;
  }
}
