.logos {
  overflow: hidden;
  margin-top: var(--l);
  padding: 16px 0;
  background-color: var(--secondary-05);
  white-space: nowrap;
  position: relative;
  /* width: 300px; */
  width: 100%;
  line-height: normal;
}

/* .logos:before,
.logos:after {
  content: '';
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 10;
} */

/* .logos:before {
  left: 0;
  background: linear-gradient(to right, var(--secondary-05), transparent);
}

.logos:after {
  right: 0;
  background: linear-gradient(to left, var(--secondary-05), transparent);
} */

/* .logos:hover .logos__slide {
  animation-play-state: paused;
} */

.logos__slide {
  display: inline-block;
  width: max-content;
  animation: slide 20s linear infinite;
}

.logos__slide img {
  display: inline-block;
  height: 24px;
  margin: 0 20px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
