.priceTutorCard {
  position: relative;
  width: var(--pricing-card-width, var(--card-width));
  height: auto;
  display: grid;
  grid-template-rows: auto auto minmax(64px, auto) auto auto;
  align-content: start;
  align-items: start;
  justify-items: center;
  gap: var(--s);
  padding: var(--l) var(--xs) var(--m);
  border-radius: var(--s);
  background-color: var(--neutral-0);
  box-shadow: var(--shadow-primary);
}

.priceTutorCard:last-child {
  margin-top: var(--m);
}

.discount {
  background-color: var(--primary-10);
  color: var(--text-0);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--xs);
}

.heading,
.price {
  font-size: var(--font-heading-s);
  font-weight: 700;
  line-height: var(--line-heading-relaxed);
  text-transform: uppercase;
}

.subheading {
  text-transform: uppercase;
}

.pricing {
  display: flex;
  min-height: 64px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.pricingNeutral {
  color: var(--text-10);
}

.crossedOut {
  font-weight: 700;
  text-decoration: line-through;
}

.hidden {
  visibility: hidden;
}

.action,
.list {
  margin-top: 0;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item {
  text-align: center;
}

.promoWrap {
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translateX(-50%);
}

.promo {
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: var(--primary-30);
  padding: var(--2xs) var(--s);
  color: var(--text-0);
  font-weight: 700;
  letter-spacing: 0.05em;
  animation: var(--animation-name-tada) 8s ease-in-out infinite;
  cursor: default;
}

@media (min-width: 1061px) {
  .priceTutorCard:last-child {
    margin-top: 0;
  }
}

@media (min-width: 1921px) {
  .priceTutorCard {
    padding: var(--l) var(--s);
  }

  .pricing {
    min-height: 74px;
  }

  .promoWrap {
    top: -22px;
  }
}
