.priceTranslatorCard {
  position: relative;
  width: var(--pricing-card-width, var(--card-width));
  height: auto;
  display: grid;
  grid-template-rows:
    minmax(56px, auto) auto auto auto auto
    minmax(84px, auto);
  align-content: start;
  align-items: start;
  justify-items: center;
  gap: var(--s);
  padding: var(--l) var(--xs) var(--m);
  border-radius: var(--s);
  background-color: var(--neutral-0);
  box-shadow: var(--shadow-primary);
}

.heading {
  min-height: 56px;
  text-align: center;
  text-transform: uppercase;
}

.price {
  color: var(--text-10);
  font-size: var(--font-heading-s);
  font-weight: 700;
  line-height: var(--line-heading-relaxed);
  text-transform: uppercase;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item {
  text-align: center;
}

.note {
  min-height: 84px;
  max-width: 185px;
  text-align: center;
  font-weight: 700;
}

@media (width >= 1921px) {
  .priceTranslatorCard {
    padding: var(--l) var(--s);
  }

  .heading {
    min-height: 64px;
  }

  .note {
    min-height: 96px;
    max-width: 208px;
  }
}
