@import './styles/vars.css';
@import './styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

/* :focus {
  outline-width: 4px;
  outline-style: solid;
  outline-color: var(--primary-10);
  outline-offset: 4px;
} */

body {
  min-height: 100dvh;
  background-color: hsla(0, 0%, 100%, 1);
  font-family: 'Inter', sans-serif;
  color: hsla(219, 40%, 11%, 1);
  font-size: 16px;
  line-height: 1.75;
}

section {
  scroll-margin-top: var(--xl);
}

/* button {
  box-sizing: border-box;
} */

@layer utilities {
  .clip-path-hero {
    clip-path: path(
      'M 0 0 L 185 0 L 185 56.8293 L 178.9653 194.6979 Q 178.2007 210.6827 162.2826 209.9848 L 162.2826 209.9848 L 24.414 203.9653 Q 6.7848 203.1956 6.0347 186.0152 L 0 48.1466 Z'
    );
  }

  .clip-path-about {
    clip-path: path(
      'M 0 16 Q 0 0 16 0 L 154 0 Q 170 0 170 16 L 170 194 Q 170 210 154 210 L 16 210 Q 0 210 0 194'
    );
  }

  .pause {
    animation-play-state: paused;
  }
}
