.brandLogo {
  display: block;
}

.logo {
  width: auto;
  height: var(--m);
}

@media (min-width: 577px) {
  .brandLogo {
    flex-shrink: 0;
    flex-grow: 1;
  }

  .logo {
    height: var(--xl);
  }
}

@media (min-width: 1061px) {
  .brandLogo {
    flex-grow: 0;
  }
}
